<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTTP Video Stream</title>
  </head>
  <body>
    <video id="videoPlayer" width="650" height='600' controls  autoplay>
      <source src="/stream/video" type="video/mp4" />
    </video>
  </body>
</html>